.m1 {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url(imagenes/wp0003.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.m1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.m1 > * {
    position: relative;
    z-index: 2; 
}

.m2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.m2 h1, .m1 h2{
    color: var(--blanco);
}
.m2 h1{
    font-size: 5rem;
}
.m3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.m4{
    width: 30vw;
}
.m5{
   height: 40vh;
   width: 30vw;
   
    background-image: url(imagenes/maracuya.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.m6{
    height: 40vh;
    width: 30vw;
    
     background-image: url(imagenes/salsas.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 .m7{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    flex-direction: row;
    padding-bottom: 20px;
 }
 .m8{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
 }
 .m9{
    width: 40vw;
 }
 .m10{
    width: 30vw;
    height: 50vh;

    border-radius: 25px;

    background-image: url(imagenes/picarfrutas.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 .m11{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
 }
